* {
  margin: 0;
  padding: 0;
  color: #372A23;
  white-space: nowrap;
}

body {
  background-color: #FFFAF4;
  overflow-x: hidden;
}

.title-section {
  text-align: center;
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 64px;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}

/* responsive */
@media screen and (max-width:480px) {
  * {
    margin: 0;
    padding: 0;
    color: #372A23;
    white-space: nowrap;
  }

  body {
    background-color: #FFFAF4;
    overflow-x: hidden;
  }

  .title-section {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.fuwatAnime {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 25px 3%;
  background-color: #FFFAF4;
  /* height: 170px;
  width: 100%; */
}

/*HeightMinというクラス名がついたら高さを小さく、上部固定に*/
#header.HeightMin {
  position: fixed;
  z-index: 999;
  /*最前面へ*/
  height: 70px;
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-170px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#header-pc h1 {
  font-family: 'Hiragino Maru Gothic Pro';
  font-weight: 200;
  letter-spacing: 0.2em;
  color: #483b34;
}

#header-pc h1 a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  margin: 0 30px;
  font-family: 'Noto Sans';
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.2em;
}

li a {
  text-decoration: none;
}

li a:hover {
  transform: 1s;
  color: #D5A28A;
}

/* responsive */
@media screen and (max-width:480px) {
  header {
    display: none;
    visibility: hidden;
  }
}

/* first-view */
#first-view {
  margin: 100px 130px;
  margin-bottom: 0;
}

.fv-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-fv-jp {
  font-family: 'Hiragino Maru Gothic Pro';
  font-size: 48px;
  letter-spacing: 0.1em;
}

.title-fv-en {
  margin-top: 15px;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.fv-description {
  margin-top: 40px;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 17px;
  line-height: 2.5em;
}

.fv-img {
  width: 640px;
}

.triangle-below {
  text-align: center;
}

.triangle-img {
  margin: 100px 0;
}

/* responsive */
@media screen and (max-width:480px) {
  .fv-main {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .fv-img {
    width: 309px;
    margin-bottom: 10vh;
  }

  .title-fv-jp {
    font-size: 20px;
    text-align: center;
  }

  .title-fv-en {
    font-size: 14px;
    text-align: center;
  }

  .fv-description {
    font-size: 11px;
    text-align: center;
  }
}

/* sandDune */
#sandDune {
  text-align: center;
  margin-top: 40px;
}

.title-sd {
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0.2em;
}

#sandDune>p {
  margin: 60px auto;
  font-family: 'Noto Sans JP';
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.sd-images {
  display: flex;
  justify-content: center;
}

.sd-img-box {
  display: flex;
  flex-direction: column;
}

.sd-image {
  margin: 5px;
  object-fit: cover;
}

.sd-img-1 {
  width: 245px;
  height: 410px;
}

.sd-img-2 {
  width: 255px;
  height: 190px;
}

.sd-img-3 {
  width: 255px;
  height: 255px;
}

.sd-img-4 {
  width: 245px;
  height: 410px;
  object-position: top 0px left 15px;
}

.slick {
  display: none;
}

/* responsive */
@media screen and (max-width:480px) {
  .title-sd {
    font-size: 26px;
  }

  #sandDune p {
    font-size: 9px;
  }

  .sd-images {
    display: none;
  }

  .slick {
    display: block;
    margin: 20px;
  }

  .sd-image {
    width: 280px;
    height: 200px;
    margin: 0;
    object-fit: cover;
  }
}

/* cafe */
#cafe {
  margin: 100px 0;
}

.cafe-name {
  font-family: 'Noto Sans JP';
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.cafe-discription {
  margin-top: 30px;
  margin-left: 5px;
  font-family: 'Noto Sans JP';
  font-size: 16px;
  letter-spacing: 0.1em;
}

.cafe-btn {
  display: inline-block;
  margin-top: 30px;
  font-family: 'Noto Sans';
  font-size: 17px;
  letter-spacing: 0.1em;
  text-decoration: none;
  border-bottom: solid 1px #8E776A;
  padding-bottom: 5px;
}

.cafe-btn:hover {
  color: #8E776A;
}

.cafe-style-odd {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 200px;
}

.cafe-style-even {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 200px;
}

@media screen and (max-width:480px) {
  #cafe {
    margin-top: 200px;
  }

  .cafe-name {
    font-size: 23px;
    margin-top: 20px;
  }

  .cafe-discription {
    font-size: 11px;
    margin: 20px;
    overflow-wrap: normal;
    word-break: break-all;
  }

  .cafe-btn {
    border: none;
    display: inline-block;
    background-color: none;
    font-size: 10px;
    letter-spacing: normal;
    margin-top: 10px;
    border: solid 1px #D5A28A;
  }

  .cafe-style-odd,
  .cafe-style-even {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    align-items: center;
  }
}

/* .takahama-bg-box {
  width: 488px;
  height: 488px;
  background-color: #C0D3DB;
  z-index: 1;
} */

.takahama-img-box {
  position: relative
}

.takahama-img-box::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -70px;
  background-color: #C0D3DB;
  width: 488px;
  height: 488px;
  z-index: -3;
}

.takahama-img {
  margin-left: 130px;
  width: 460px;
}

.takahama-text {
  margin-left: 50px;
}

.takahama-btn {
  padding-left: 300px;
  padding-right: 10px;
}

.totto-img-box {
  position: relative;
}

.totto-img-box::before {
  content: "";
  position: absolute;
  z-index: -3;
  background-color: #E0B394;
  width: 362px;
  height: 658px;
  right: 0px;
  top: -200px;
}

.totto-img {
  width: 490px;
  height: 300px;
  object-fit: cover;
  margin-right: 130px;
}

.totto-text {
  margin-right: 50px;
}

.totto-btn {
  padding-left: 10px;
  padding-right: 500px;
}

.sandbox-img-box {
  position: relative;
}

.sandbox-img-box::before {
  content: "";
  position: absolute;
  z-index: -3;
  background-color: #D5A28A;
  width: 445px;
  height: 445px;
  left: 0px;
  top: -70px;
}

.sandbox-img {
  margin-left: 130px;
  width: 464px;
  height: 285px;
  object-fit: cover;
}

.sandbox-text {
  margin-left: 50px;
}

.sandbox-btn {
  padding-left: 300px;
  padding-right: 10px;
}

.sankaku-img-box {
  position: relative;
}

.sankaku-img-box::before {
  content: "";
  position: absolute;
  z-index: -3;
  background-color: #DEE9EB;
  width: 550px;
  height: 435px;
  right: 0px;
  top: -70px;
}

.sankaku-img {
  width: 490px;
  height: 300px;
  object-fit: cover;
  margin-right: 130px;
}

.sankaku-text {
  margin-right: 50px;
}

.sankaku-btn {
  padding-left: 10px;
  padding-right: 500px;
}

@media screen and (max-width:480px) {

  .takahama-img-box::before,
  .totto-img-box::before,
  .sandbox-img-box::before,
  .sankaku-img-box::before {
    content: none;
  }

  .takahama-img,
  .totto-img,
  .sandbox-img,
  .sankaku-img {
    margin: 0;
    width: 326px;
    height: 220px;
    object-fit: cover;
  }

  .takahama-text,
  .totto-text,
  .sandbox-text,
  .sankaku-text {
    margin: 0;
  }

  .takahama-btn,
  .totto-btn,
  .sandbox-btn,
  .sankaku-btn {
    padding: 10px;
    border-radius: 5px;
    width: 85px;
  }
}

/* souvenirs */
#souvenir {
  text-align: center;
  margin-bottom: 150px;
}

.subtitle-section {
  font-size: 20px;
  font-family: 'Noto Sans JP';
  letter-spacing: 0.2em;
  font-weight: 300;
}

.souvenirs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 200px 50px;
}

.sv-img {
  width: 275px;
  height: 205px;
  object-fit: cover;
  margin: 10px;
}

.viewmore-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #E0B394;
  color: #fff;
  padding: 10px 40px;
}

.viewmore-btn:hover {
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #E0B394;
  }

  100% {
    box-shadow: 0 0 0 1.2em rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width:480px) {
  #souvenir {
    text-align: center;
    margin-bottom: 150px;
  }

  .subtitle-section {
    font-size: 11px;
    letter-spacing: 0.2em;
    font-weight: 300;
  }

  .souvenirs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: 30px 0;
  }

  .sv-img {
    width: 105px;
    height: 80px;
    object-fit: cover;
    margin: 5px;
  }
}

/* footer */
footer {
  background-color: #EADCD2;
  width: 100vw;
  padding: 10px;
  margin: 0;
}

.footer-main-title {
  font-size: 48px;
  padding-top: 70px;
  margin-left: 130px;
  font-family: 'Hiragino Maru Gothic Pro';
}

.footer-main-title a {
  text-decoration: none;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 50px 140px;
  padding-right: 300px;
}

.footer-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.st-contents {
  margin-left: 50px;
}

.st-person {
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  padding-bottom: 2px;
}

/* help */
.st-person:hover {
  color: #8E776A;
}

.st-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.contact-contents {
  margin-left: 50px;
}

.contact-box {
  display: flex;
  align-items: center;
}

.contact-name {
  font-size: 24px;
  font-family: 'Noto Sans';
  margin-right: 50px;
}

.contact-icon {
  height: 24px;
  margin: 10px;
}

.contact-address {
  margin-top: 50px;
  font-size: 16px;
  border-bottom: #372A23;
}

@media screen and (max-width:480px) {

  .footer-main-title {
    display: none;
  }

  .footer-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-box {
    display: block;
    padding: 0px;
    padding-right: 0px;
  }

  .special-thanks {
    margin: 20px auto 0;
  }

  .st-message {
    margin-bottom: 10px;
  }

  .st-person {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .st-person p {
    font-size: 14px;
  }

  .st-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .contact {
    margin: 30px auto 30px;
  }

  .contact-icon {
    height: 22px;
    margin: 8px;
  }

  .contact-name {
    font-size: 24px;
    font-family: 'Noto Sans';
    margin-right: 50px;
  }

  .contact-icon {
    height: 24px;
    margin: 10px;
  }

  .contact-address {
    margin-top: 50px;
    font-size: 16px;
    border-bottom: #372A23;
  }
}

/* souvenir page */
.bg-switcher {
  height: 100vh;
  background-image: url('./images/sv-colorful.jpeg');
  background-size: cover;
  background-position: center center;
  position: relative;
}

.sv-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.svpage-title {
  color: #FFFAF4;
  font-family: 'Noto Sans';
  font-size: 64px;
  letter-spacing: 0.1em;
}

.svpage-subtitle {
  color: #FFFAF4;
  font-size: 20px;
  font-family: 'Noto Sans JP';
  letter-spacing: 0.2em;
  font-weight: 300;
}

#souvenir-page {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 150px;
}

.sv-title {
  display: inline-block;
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.2em;
  padding: 5px 15px;
  border-bottom: solid 2px #E0B394;
}

.souvenir {
  width: 275px;
  background-color: #DEE9EB;
  margin: 30px 15px;
}

.sv-page-img {
  width: 275px;
  height: 205px;
  object-fit: cover;
}

.sv-text {
  text-align: left;
  padding: 20px;
}

.place {
  display: flex;
  align-items: center;
}

.icon-place {
  height: 16px;
}

@media screen and (max-width:480px) {
  .sv-title {
    font-size: 24px;
  }

  #souvenir-page .souvenir {
    width: 155px;
  }

  .sv-page-img {
    width: 155px;
    height: 120px;
  }

  .sv-text {
    padding: 10px;
  }

  .sv-text p {
    font-size: 12px;
  }
}